.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 20px;
}